[package]
name = "seriesdb"
version = "0.6.0"
authors = ["Chaoqian Xu <chaoranxu@gmail.com>"]
edition = "2021"

[dependencies]
rocksdb = "0.19.0"
bytes = "1.2.1"
byteorder = "1.4.3"
serde = "1.0.145"
rmp-serde = "1.1.1"
prost = "0.11.0"
